.builder-tabs {
  .nav-tabs {
    --bs-nav-tabs-border-width: inherit;
    --bs-nav-tabs-border-color: inherit;
    --bs-nav-tabs-border-radius: inherit;
    --bs-nav-tabs-link-hover-border-color: inherit;
    --bs-nav-tabs-link-active-color: inherit;
    --bs-nav-tabs-link-active-bg: inherit;
    --bs-nav-tabs-link-active-border-color: inherit;
    border-bottom: none !important;
    gap: 11px !important;
    margin-bottom: 14px !important;

    .nav-item {
      .nav-link {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #000000;
        width: 89px;
        height: 36px;
        padding: 8px 10px;
        background-color: #ffffff;

        &.active {
          color: #2e68bf;
          border-bottom: 2px solid #f8af2c;
        }
      }
    }
  }
}

// accrodion

.builder_accordion {
  .accordion {
    .accordion-item {
      color: inherit;
      background-color: inherit;
      border-bottom: 1px solid #f8af2c !important;
      margin-bottom: 7px;

      .accordion-header {
        height: 19px !important;
        .accordion-button {
          font-family: 'Rubik';
          font-style: normal;
          font-weight: 500;
          font-size: 8px;
          line-height: 15px;
          letter-spacing: 0.01em;
          color: #2e68bf;
          padding: 0 0 0 29px !important;
          background-color: #ffffff !important;
          box-shadow: inherit !important;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 19px;
            background-image: url('../images/b-b-arrow.svg');
            transform: rotate(180deg);
          }

          &.collapsed {
            color: #000000;
            &::before {
              transform: rotate(0deg);
              background-image: url('../images/b-a-arrow.svg');
            }
          }
          &:focus {
            border-color: inherit !important;
            box-shadow: inherit !important;
          }

          &::after {
            content: inherit !important;
          }
        }
      }

      .accordion-body {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 300;
        font-size: 8px;
        line-height: 13px;
        letter-spacing: 0.01em;
        color: #000000;
        padding: 4px 0 4px 29px !important;
      }
    }
  }
}

// notebook_table

.notebook_table {
  .rdt_TableHeadRow {
    .rdt_TableCol:nth-child(2) {
      max-width: clamp(330px, 48vw, 850px);
      min-width: clamp(330px, 48vw, 850px);
    }
  }
}

// tabs styling
ul.nav.nav-tabs {
  margin-bottom: 0;
  border-bottom: none;
  gap: 8px;

  li.nav-item button {
    padding: 8px 35px;
    // border-color: #084892;
    &:focus-visible {
      border-bottom: none;
    }
    &:hover {
      border-bottom: none;
    }
  }
  .nav-link {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background: #084892;
  }
  .nav-link.active {
    color: #084892;
    background: #fff;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
}

// Accordion styles
.c2e_accordion {
  .accordion {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .accordion-item {
      border: none;
      border-radius: 4px;
      .accordion-header {
        // background: #f1f1f1;
        &:focus-visible {
          border: none;
          outline: none;
        }
        .accordion-button {
          font-family: 'Rubik';
          font-style: normal;
          font-weight: 400;
          font-size: 10px;
          line-height: 20px;
          padding: 6px 8px;
          color: #767676;
          background: #f1f1f1;
          &::after {
            width: 19px;
            height: 15px;
          }
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
        .accordion-button:not(.collapsed) {
          background: #f1f1f1;
          box-shadow: none;
        }
      }
      .accordion-body {
        background: #f1f1f1;
        padding: 13px 16px 8px 16px;
      }
    }
  }
}
