.inventory-tabs {
  .nav-tabs {
    --bs-nav-tabs-border-width: inherit;
    --bs-nav-tabs-border-color: inherit;
    --bs-nav-tabs-border-radius: inherit;
    --bs-nav-tabs-link-hover-border-color: inherit;
    --bs-nav-tabs-link-active-color: inherit;
    --bs-nav-tabs-link-active-bg: inherit;
    --bs-nav-tabs-link-active-border-color: inherit;
    border-bottom: 1px solid #f2f2f2 !important;

    .nav-item {
      .nav-link {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #414753;
        min-width: 88px;
        padding: 4px 6px 8px 0;
        position: relative;
        margin-right: 16px;
        // .title-icon svg path{
        //   stroke: #414753 !important;
        // }
        &.active {
          color: #3d88e0;
          border-bottom: 3px solid #3d88e0;
          padding: 4px 6px 5px 0;
          // .title-icon svg path {
          //   stroke: #e7006a !important;
          //   fill: #e7006a;
          // }
        }
      }
    }
  }
}

// Action tabs
.action-inventory-tabs {
  .nav-item {
    .nav-link {
      min-width: auto !important;
    }
  }
}
.permission-table {
  .sc-dmXXqC.dLPHLX {
    .sc-fLsdZI.fOcRrp {
      .sc-beySbM.dehtZj.rdt_Table {
        .sc-guDLRT.jnKa-Dc.rdt_TableHead {
          .sc-dmyDGi.eYOasi.rdt_TableHeadRow {
            .rdt_TableCol {
              max-width: inherit !important;
              min-width: inherit !important;

              &:first-child {
                .fpbtCN {
                  width: 710px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

// order-detail-table-kR

.order-detail-table-kR {
  .rdt_Table {
    .rdt_TableHead {
      .rdt_TableHeadRow {
        border-bottom: none !important;
      }
    }
  }
}

// notebook_table

.notebook_table {
  .rdt_TableHeadRow {
    .rdt_TableCol:nth-child(2) {
      max-width: clamp(330px, 48vw, 850px);
      min-width: clamp(330px, 48vw, 850px);
    }
  }
}

// tabs styling
ul.nav.nav-tabs {
  margin-bottom: 0;
  border-bottom: none;
  gap: 8px;

  li.nav-item button {
    padding: 8px 35px;
    // border-color: #084892;
    &:focus-visible {
      border-bottom: none;
    }
    &:hover {
      border-bottom: none;
    }
  }
  .nav-link {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background: #084892;
  }
  .nav-link.active {
    color: #084892;
    background: #fff;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
}

// Accordion styles
.c2e_accordion {
  .accordion {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .accordion-item {
      border: none;
      border-radius: 4px;
      .accordion-header {
        // background: #f1f1f1;
        &:focus-visible {
          border: none;
          outline: none;
        }
        .accordion-button {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 400;
          font-size: 10px;
          line-height: 20px;
          padding: 6px 8px;
          color: #767676;
          background: #f1f1f1;
          &::after {
            width: 19px;
            height: 15px;
          }
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
        .accordion-button:not(.collapsed) {
          background: #f1f1f1;
          box-shadow: none;
        }
      }
      .accordion-body {
        background: #f1f1f1;
        padding: 13px 16px 8px 16px;
      }
    }
  }
}
