// downarrow dropdown menu styles
.dropdown_menu {
  width: 100%;
  .dropdown-menu.show {
    padding: 0;
    width: 100%;
    border: none;
    .dropdown-item {
      padding: 0;
      &:hover {
        background: transparent;
      }
    }
  }
}

// dropdown styling
.dashboard-setting {
  display: flex;
  align-items: center;
  gap: 8px;
  .dropdown {
    .dropdown-toggle {
      color: #084892;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      padding: 0;
      border: none;
      text-transform: uppercase;
      background: transparent;
      &::after {
        display: none;
      }
    }
  }
}

.slick-slider {
  button.slick-arrow.slick-prev {
    // background: #084892;
    margin: 0 5px;
    border-radius: 50%;
    &::before {
      background: #084892;
      border-radius: 50%;
      opacity: 1;
    }
  }
  button.slick-arrow.slick-next {
    // background: #084892;
    margin: 0 5px;
    border-radius: 50%;
    &::before {
      background: #084892;
      border-radius: 50%;
      opacity: 1;
    }
  }
}
